<div class="page-wrapper">
  <mat-form-field>
    <input matNativeControl type="text" #searchInput value="Kharkiv" placeholder="Type your city name" autocomplete="off" />
  </mat-form-field>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let day of forecast$ | async"
      [ngClass]="{'sunny': day.weather[0].main === 'Clear', 'cloudy': day.weather[0].main === 'Clouds', 'rain': day.weather[0].main === 'Rain' || day.weather[0].main === 'Snow'}">
      {{fromUnixTimeSeconds(day.dt)}}</li>
  </ul>
</div>
